*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #344a72;
  line-height: 1.8;
  color: white;
}

.form-container {
  max-width: 400px;
  margin: 30px auto;
}

.form-main {
  background-color: white;
  color: black;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
}

.form-main h1, .form-main p {
  color: black;
  text-align: center;
}

.form-main .form-group {
  margin-top: 20px;
}

.form-main .form-group label {
  display: block;
}

.form-main .form-group input {
  width: 100%;
  padding: 10px;
  border: #ddd 1px solid;
  border-radius: 5px;
}

.form-main .btn {
  display: block;
  width: 100%;
  color: white;
  padding: 10px;
  background-color: #49c1a2;
  font-weight: 600;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: #37a08e;
}

.bottom-text {
  font-size: 12px;
}
.bottom-text a {
  text-decoration: none;
  font-weight: 600;
}

.footer {
  text-align: center;
  margin-top: 20px;
}

.footer a {
  text-decoration: none;
  color: #49c1a2;
}